#account_input {
  outline: none;
  background: #eee;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: none;
  height: 40px;
  padding-left: 20px;
}

.account-list-item {
  font-size: 12px;
  border-left: none;
  border-right: none;
  outline: none;
  padding: 10px 0px;
  padding-left: 20px;
}

.account-list {
  height: 250px;
  margin: 0px;
  overflow-x: inherit;
  overflow-y: auto;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.accounts-heading {
  padding-left: 20px;
  margin-top: 45px;
  margin-bottom: 25px;
}

.row {
  padding: 0px;
}