<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/d3.layout.cloud.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script type="text/javascript" src="/javascripts/word_cloud.js"></script>
  </body>

</html>