@import url(https://fonts.googleapis.com/css?family=Lato);

.navbar {
  padding: 15px 0;
  background: #155289;
  border: none;
  position: fixed;
  width: 100%;
  z-index: 98;
}

#navbar-brand {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  vertical-align: middle;
  display: inline;
  line-height: 50px;
}

#navbar-brand:hover {
  text-decoration: none;
}

.navbar-toggle.collapsed {
  border: none;
   color: white; 
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-right: 50px;
}

.navbar {
  border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background: white;
}

.navbar-default .navbar-toggle {
  border-color: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: none;
}