@import url(https://fonts.googleapis.com/css?family=Lato);
.bar {
  fill: steelblue;
}
​
 .bar:hover {
  fill: #1f77b4;
}
​
 .axis {
  font: 10px sans-serif;
}
​
.axis path,
.x .axis path {
  display: none;
}
​
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.word-cloud-text {
  font-family: 'Lato', sans-serif;
}