#row2 {
  margin-top: 25px;
}

#row3 {
  margin-top: 25px;
}

.word-cloud {
  border: 2px solid #eee;
  height: 350px;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
}

.line-graph {
  border: 2px solid #eee;
  height: 300px;
  text-align: center;
  font-size: 40px;
  vertical-align: middle;
  padding: 0px;
}

.word-frequency {
  border: 2px solid #eee;
  border-left: none;
  padding-left: 0px;
  padding-right: 0px;
}

.article-list {
  padding-left: 0px;
  padding-right: 0px;
  border: 2px solid #eee;
  border-right: none;
}

.watson-graphs {
  border: 2px solid #eee;
  height: 450px;
  padding: 0px;
}

.graph-1 {
  border-bottom: 2px solid #eee;
  height: 210px;
}

.social-graph {
  height: 237px;
  border-right: 2px solid #eee;
  padding: 0px;
}

.language-style {
  padding: 0px;
}

.sentiment-title {
  padding-left: 20px;
  font-weight: bold;
}

.language-title {
  margin-bottom: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.social-title {
  margin-bottom: 20px;
  padding-left: 20px;
  font-weight: bold;
}

.line-graph-title {
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
}

.line-graph-date {
  text-align: left;
  font-style: italic;
  padding-left: 20px;
  font-size: 14px;
}
