body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #000000;
  stroke-width: 4.5px;
}

.x.axis {
  font-size: 10px;
}

.y.axis {
  font-size: 10px;
}