body {
  font: 10px sans-serif;
}

.axis path {
  fill: #ccc;
}
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10pt;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5.5px;
}

.x.axis {
  font-size: 10px;
}

.y.axis {
  font-size: 10px;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}