.main-container {
  padding: 0px 15px;
  margin: 110px 0 30px 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.side-bar {
  padding: 0px;
  position: fixed;
}

.dashboard {
  float: right;
}