.main-container {
  padding: 0px 15px;
  margin-bottom: 30px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.side-bar {
  padding: 0px;
}

.dashboard {
  overflow-y: auto;
  height: 600px;
}